.card-sh {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0 ,0.3);
}

.cat-div {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

th{
    text-align: center;
}
td{
    text-align: center;
}
.error{
    color: red;
}
